.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

.clear{ clear:both; display:block; font-size:0; height:0; line-height:0; width:100%s}

.alizarin{
	color: #e74c3c;
}

.turquoise{
	color:#1abc9c;
}

.emerald{
	color:#2ecc71;
}

.grey{
	color: #82959f;
}

.bet{
	background:#8e44ad;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	letter-spacing:-1px;
	text-transform:none;
}

#panel-info{
	width:320px;
	height:400px;
	background: rgba(255, 255, 255, 1);
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	color:#525f66;
	-webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.2);
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:-1px;
	position:fixed;
	left:0;
	bottom:10px;
	z-index:9999;
	overflow: auto;
	list-style-type: none;
	margin: 0 0;
	padding: 0 0;
}

#panel-info h3{
	padding:10px;
	font-size:14px;
	letter-spacing:-1px;
}

#panel-info h3{
	padding:10px;
	font-size:14px;
	letter-spacing:-1px;
}

#panel-info h4{
	font-size:12px;
	letter-spacing:-1px;
	color:#525f66;
	margin: 0 0;
}

#panel-info > ul > li{
	background:url(images/sumar-traseu-bg.png) repeat-x;
	list-style-type: none;
}

#panel-info > ul > li > .sumar{
	height:34px;
	line-height:34px;
	padding:5px 10px;
	cursor: pointer;
	list-style-type: none;
}

#panel-info > ul > li > .sumar > ul > li{
	float:left;
	list-style-type: none;
}

#panel-info ul{
	padding: 0px;
	margin: 0 0;
}

.step-content-plecare{
	background:url(images/punct-plecare.png) no-repeat left center;
	margin-left:10px;
	padding:10px 20px 10px 34px;
	line-height:16px;
}

.step-content-sosire{
	background:url(images/punct-sosire.png) no-repeat left center !important;
	margin-left:10px;
	padding:10px 20px 10px 34px;
	line-height:16px;
}

.steps > li{
	float:left;
	margin:10px;
	width: -moz-available;
	list-style-type: none;
}

.steps > li.separator{
	display:block;
	width:270px;
	height:1px;
	background:#f5f8f9;
	margin:0;
}

.light{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	letter-spacing:-1px;
	text-transform:none;
	word-break: break-all;
	width: 200px;
}	
	
.icon-separator{
	background:url(images/icon-separator.png) no-repeat;
	width:4px;
	height:4px;
	margin:15px 10px;
}

.errorB{
	background:#ffcf10;
	-webkit-box-shadow: 4px 4px 0px 0px rgba(243, 156, 18, 1);
	-moz-box-shadow: 4px 4px 0px 0px rgba(243, 156, 18, 1);
	box-shadow: 3px 3px 0px 0px rgba(243, 156, 18, 1);
	text-shadow: 0px 1px 0px rgba(243, 156, 18, 1);
	border-radius: 3px;
	margin-bottom:20px;
	font-weight:normal;
	color: #FFF;	
	width: -moz-available;
}

#VisibleContentContainer {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-radius: 15px;
    background-color: #1A1A1A;
    text-align: left;
    height: 250px !important;
    overflow: -moz-hidden-unscrollable !important;
}

.table-background{
	height: 250px !important;
    overflow: -moz-hidden-unscrollable !important;
}

.middle > div:nth-child(2){
	display:none;
}

#uBalance2 {
    background: #F64747;
    color: #fff;
    font-family: "Montserrat",sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -3px;
    padding: 20px;
    position: fixed;
    text-transform: none;
	text-align: center;
    bottom: 0;
	left: 0;
	width: 100%;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0px -5px 0px 0px rgba(50, 50, 50, 0.3);	
	z-index:99999;
}

#rightcontainer{
	position: fixed;
	right: 10px;
	top: 50%;
	z-index: 9999;
}

#botstats, #botlog {
	background: none repeat scroll 0 0 #fff;
	color: #6c7a89;
	font-family: "Montserrat",sans-serif;
	font-size: 22px;
	letter-spacing: -2px;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 0 3px rgba(50, 50, 50, 0.3);
	margin-bottom: 20px;
}

.progressbg {
	box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.4);
	background:#EDEDED; 
	border-radius:30px; 
	display: inline-block; 
	height:14px;
	width: 250px; 
}

.progress1{
	background: -moz-linear-gradient(top, #f45a81 0%, #f62459 100%);
	border-radius: 20px;
	display: block;
	height:14px;
}

.progress2{
	background: -moz-linear-gradient(top, #4ba0d8 0%, #3498db 100%);
	border-radius: 20px;
	display: block;
	height:14px;
}
 
.progresslabel{
	font-size: 18px;
	line-height: 14px;
	margin-left: 15px;
}

.botoverlay{
	background: rgba(0, 0, 0, 0.85);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 99999;
}

.botoverlaytext{
	font-family: "Montserrat",sans-serif;
	color: #fff;
	font-size: 72px;
	letter-spacing: -10px;
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
}



.progress2{
display: block; background: -moz-linear-gradient(top, #4ba0d8 0%, #3498db 100%);
 border-radius: 20px;  height:14px;
 }
 
.progresslabel{
font-size:18px; line-height: 14px; margin-left: 15px;
}

